.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 500px;
  position: relative;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 4.5em;
  font-weight: bold;
}

.banner h2 {
  font-size: 1.5em;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  margin-top: 8px;
}

.banner .container {
  position: absolute;
  left: 550px;
}
