.book-cover {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: transform 0.7s ease-in-out;
  z-index: 4;
}

.book {
  width: 150px;
  height: 225px;
  position: absolute;
  top: -470px;
  left: 70%;
  z-index: 5;
  transform: translateZ(28.5px);
  background: var(--primary);
  border-radius: 2px 6px 4px 2px;
  background-image: linear-gradient(to right,var(--primary) 10px, var(--primary-dark) 12px, transparent 22px);
  box-shadow:  2px 6px 40px 0px #FEA600;
  transition: all 0.5s;
  cursor: pointer;
  animation-duration: 2s;
  animation-direction: alternate;
}

.book h1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.book h1:after {
  content: 'My portfolio';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.book:hover h1 {
  padding-right: 25px;
}

.book:hover h1:after {
  opacity: 1;
  right: 0;
}

.falling-book {
  animation-name: falling-book;
}

.flying-book {
  animation-name: flying-book;
}

@keyframes falling-book {
  0% {top: -470px;}
  50% {top: 669px;}
  70% {top: 560px;}
  100% {top: 669px;}
}

@keyframes flying-book {
  0% {top: 669px;}
  100% {top: -470px;}
}

.book-side {
  width: 198px;
  position: absolute;
  top: -280px;
  left: 67.5%;
  box-shadow: none;
  transform: translateY(-15px) translateX(0px) translateZ(15px) rotateX(104deg);
}

.cover-shrink {
  transform: rotateX(75deg) translateY(-302px) translateZ(3px) scale(0.75);
}

.side-shrink {
  transform: rotateX(0deg) rotateY(300px) translateX(55px);
  top: 700px;
}
