:root {
  --dark-green: #1C503B;
  --green: #3e523b;
  --gold: #C2A960;
  --light-gold: #e0c36d;
  --primary: rgb(105, 101, 101);
  --secondary: #C2A960;
  --primary-dark: black;
  --secondary-light: #e0c36d;
}
