@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Libre+Baskerville&display=swap');
@import 'banner.css';
@import 'book.css';
@import "bootstrap/scss/bootstrap";
@import 'button.css';
@import 'card.css';
@import 'color.css';
@import "font-awesome";
@import "footer.css";

body {
  font-family: 'Libre Baskerville', serif;
  color: var(--secondary);
  background-color: var(--primary-dark);
  text-align: left;
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: 'IM Fell English', serif;
}

img {
  width: 450px;
  margin: 20px auto;
  border-radius: 1.5px;
  box-shadow: 2px 2px var(--primary);
}

h3 {
  font-size: 1.8em;
}

br {
  width: 100%;
  border-bottom: 1px solid var(--secondary);
}

p {
  line-height: 1.5em;
}

#descr-story {
  top: 200px;
}

a {
  text-decoration: none;
  display: inline-block;
}

.text-left-align {
  text-align: left;
}

a.button-yellow {
  color: var(--dark-green);
  background-color: var(--secondary);
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 2px 1px #70684f;
}

.button-yellow:hover {
  background-color: var(--primary-light);
}

.container {
  padding-top: 32px;
}
