<div class="container d-flex justify-content-around">
  <div class="card-box">
    <ul>
      <h3>I am...</h3>
      <li>A full-stack developer.</li>
      <li>A Vietnamese based in Tokyo.</li>
      <li>Fanatic about creating and learning.</li>
    </ul>
    <a class="btn btn-ghost text-right-align ms-4" href="#">Download my CV</a>
  </div>
  <div class="card-box">
    <h3>Skills</h3>
    <div class="d-flex">
      <ul>
        <p>Front-end</p>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>React</li>
      </ul>
      <ul>
        <p>Back-end</p>
        <li>Rails</li>
        <li>Node.js</li>
      </ul>
      <ul>
        <p>Database</p>
        <li>PostreSQL</li>
        <li>Middleman</li>
        <li>MS Access</li>
      </ul>
      <ul>
        <p>General</p>
        <li>git</li>
        <li>Github</li>
      </ul>
      <ul>
        <p>Hosting</p>
        <li>Heroku</li>
        <li>Netlify</li>
      </ul>
    </div>
  </div>
</div>
