<header class="banner" style="box-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
  <div class="banner-gradient">
    <img width="1440" class="banner-background" alt="Welcome to Oanh Code" loading="lazy" src="images/sideface.JPG">
  </div>
  <div class="wrapper">
    <div class="header-content">
      <h1>Oanh Codes</h1>
      <h2>Full-stack Developer with an eye for new projects</h2>
      <a class="btn btn-flat text-right-align" id="btn-project" href="#">My projects!</a>
      <a class="btn btn-flat text-right-align" id="btn-contact" href="#">Contact me!</a>
    </div>
  </div>
</header>
<!--<div class="book-cover">
      <div class="book">
        <h1>
        </h1>
      </div>
      <img class="book-side" src="https://raw.githubusercontent.com/atomic-variable/images-repo/e37f432405904a280858e5437ce1960753bc78a3/book-side.svg" alt="book-side" />
    </div>-->
