<header class="banner" style="box-shadow: 1px 1px 3px rgba(0,0,0,0.2)">
  <div class="banner-gradient">
    <img width="1440" class="banner-background" alt="Welcome to Oanh Code" loading="lazy" src="images/sideface.JPG">
  </div>
  <div class="wrapper">
    <div class="header-content">
      <h1>Oanh Codes</h1>
      <h2>Full-stack Developer with an eye for new projects</h2>
      <a class="btn btn-flat text-right-align" id="btn-project" href="#">Contact me!</a>
      <a class="btn btn-flat text-right-align" id="btn-contact" href="#">Contact me!</a>
    </div>
  </div>
</header>
