<div class="banner d-flex justify-content-around"
  style="box-shadow: 1px 1px 3px rgba(0,0,0,0.2); background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/sideface.JPG);">

<!--
  <div>
    <img src="images/sitblack.png" alt="">
  </div>
-->
  <div class="container">
    <h1>Oanh Codes</h1>
    <h2>Building app is my fairy tale come true.</h2>
    <a class="btn btn-flat text-right-align" href="#">Contact me!</a>
  </div>
</div>
<!--<div class="book-cover">
      <div class="book">
        <h1>
        </h1>
      </div>
      <img class="book-side" src="https://raw.githubusercontent.com/atomic-variable/images-repo/e37f432405904a280858e5437ce1960753bc78a3/book-side.svg" alt="book-side" />
    </div>-->
