<div class="bar-skill">
  <div class="card-skill">
    <div>Front-end</div>
    <div class="d-flex">
      <p class="btn btn-ghost me-1">Html</p>
      <p class="btn btn-ghost me-1">Css</p>
      <p class="btn btn-ghost me-1">React.js</p>
    </div>
  </div>
  <div class="card-skill">
    <div>Back-end</div>
    <div class="d-flex">
      <p class="btn btn-ghost me-1">Rails</p>
      <p class="btn btn-ghost me-1">Node.js</p>
    </div>
  </div>
  <div class="card-skill">Database
    <div class="d-flex">
      <p class="btn btn-ghost me-1">PostgreSQL</p>
      <p class="btn btn-ghost me-1">Middleman</p>
    </div>
  </div>
  <div class="card-skill">General
    <div class="d-flex">
      <p class="btn btn-ghost me-1">Github</p>
      <p class="btn btn-ghost me-1">git</p>
    </div>
  </div>
  <div class="card-skill">Hosting
    <div class="d-flex">
      <p class="btn btn-ghost me-1">Heroku</p>
      <p class="btn btn-ghost me-1">Netlify</p>
    </div>
  </div>
</div>

<!--
<div class="card-box">
  <div class="d-flex">
    <ul>
      <p>Front-end</p>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>React</li>
    </ul>
    <ul>
      <p>Back-end</p>
      <li>Rails</li>
      <li>Node.js</li>
    </ul>
    <ul>
      <p>Database</p>
      <li>PostreSQL</li>
      <li>Middleman</li>
      <li>MS Access</li>
    </ul>
    <ul>
      <p>General</p>
      <li>git</li>
      <li>Github</li>
    </ul>
    <ul>
      <p>Hosting</p>
      <li>Heroku</li>
      <li>Netlify</li>
    </ul>
  </div>
</div>
-->
