header {
  position: relative;
  padding-top: 36px;
}

.banner {
  margin-top: -82px;
  height: 600px;


  .banner-background {
    object-fit: cover;
    object-position: 0px -70px;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    top: 0px;
    // left: 50%;
    // transform: translateX(-50%);

    // background-position: 0px -200px;
  }

  .wrapper {
    padding-top: 104px;
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    text-align: right;
    position: relative;
  }

  h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 7.5em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
    margin-top: 8px;
  }
}

.banner-gradient {
  display: inline-block;
  background-color: black;

  img {
    opacity: 0.6;
    box-shadow: none;
  }
}
