.footer {
  text-align: center;
  height: 120px;
  padding: 20px 50px 50px 20px;
  margin-top: 64px;
  border-top: 0.5px solid $gold;
}
.footer-links {
  display: flex;
  justify-content: center;

  a {
    opacity: 0.15;
    color: $gold;
    text-decoration: none;
    font-size: 40px;
    padding: 0px 10px;

    &:hover {
      opacity: 1;
    }
  }
}

.footer-copyright {
  opacity: 0.15;
}
