// Define color values
$dark-green: #1C503B;
$green: #3e523b;
$gold: #C2A960;
$light-gold: #e0c36d;

// Design color scheme
$primary: rgb(105, 101, 101);
$primary-dark: rgba(0, 0, 0, 1);
$secondary: #C2A960;
$secondary-light: #e0c36d;
